.big-container .nav {
  background-color: black;
  color: white;
  padding: 20px; }
  .big-container .nav .nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .big-container .nav .nav-top .nav-item .limited-offer {
      font-size: 20px;
      border-bottom: 2px solid green;
      cursor: pointer; }
    .big-container .nav .nav-top .nav-item .search {
      display: flex;
      align-items: center;
      background-color: grey;
      padding: 10px 20px;
      border-radius: 10px; }
      .big-container .nav .nav-top .nav-item .search .search-input {
        border: none;
        background-color: transparent; }
        .big-container .nav .nav-top .nav-item .search .search-input ::placeholder {
          color: lightgreen; }
      .big-container .nav .nav-top .nav-item .search img {
        width: 20px;
        height: 20px; }
  .big-container .nav .nav-bottom {
    display: flex;
    align-items: center;
    justify-content: center; }
    .big-container .nav .nav-bottom .menu-item {
      margin-right: 50px;
      cursor: pointer;
      color: white;
      font-weight: 400; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0; }

.big-container {
  font-family: 'Lato', sans-serif; }

.big-container .slider {
  background: url(https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden; }
  .big-container .slider .slider-wrapper {
    display: flex;
    width: 500vw;
    transition: all 1.5s ease-in-out; }
    .big-container .slider .slider-wrapper .slider-item {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative; }
      .big-container .slider .slider-wrapper .slider-item:nth-child(1) .slider-price {
        color: #369e62; }
      .big-container .slider .slider-wrapper .slider-item:nth-child(1) .slider-bg {
        background-color: #369e62; }
      .big-container .slider .slider-wrapper .slider-item:nth-child(2) .slider-price {
        color: rebeccapurple; }
      .big-container .slider .slider-wrapper .slider-item:nth-child(2) .slider-bg {
        background-color: rebeccapurple; }
      .big-container .slider .slider-wrapper .slider-item:nth-child(3) .slider-price {
        color: teal; }
      .big-container .slider .slider-wrapper .slider-item:nth-child(3) .slider-bg {
        background-color: teal; }
      .big-container .slider .slider-wrapper .slider-item:nth-child(4) .slider-price {
        color: cornflowerblue; }
      .big-container .slider .slider-wrapper .slider-item:nth-child(4) .slider-bg {
        background-color: cornflowerblue; }
      .big-container .slider .slider-wrapper .slider-item:nth-child(5) .slider-price {
        color: #7c7350; }
      .big-container .slider .slider-wrapper .slider-item:nth-child(5) .slider-bg {
        background-color: #7c7350; }
      .big-container .slider .slider-wrapper .slider-item .slider-title {
        position: absolute;
        top: 10%;
        right: 10%;
        font-size: 60px;
        font-weight: 900;
        text-align: center;
        color: white;
        z-index: 1; }
      .big-container .slider .slider-wrapper .slider-item .slider-price {
        position: absolute;
        top: 10%;
        left: 10%;
        font-size: 60px;
        font-weight: 300;
        text-align: center;
        border: 1px solid grey;
        color: white;
        z-index: 1; }
      .big-container .slider .slider-wrapper .slider-item .slider-bg {
        width: 750px;
        height: 750px;
        border-radius: 50%;
        position: absolute; }
      .big-container .slider .slider-wrapper .slider-item .slider-img {
        z-index: 1; }
      .big-container .slider .slider-wrapper .slider-item .buy-button {
        position: absolute;
        top: 50%;
        right: 10%;
        font-size: 30px;
        font-weight: 900;
        border: 1px solid grey;
        color: white;
        z-index: 1;
        cursor: pointer;
        background-color: black; }
        .big-container .slider .slider-wrapper .slider-item .buy-button:hover {
          background-color: white;
          color: black; }

.big-container .features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px; }
  .big-container .features .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .big-container .features .feature .feature-icon {
      width: 50px;
      height: 50px; }
    .big-container .features .feature .feature-title {
      font-size: 20px;
      font-weight: 600;
      margin: 20px; }
    .big-container .features .feature .feature-description {
      color: grey;
      width: 50%;
      height: 100px; }

.big-container .product {
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
  .big-container .product .product-img {
    width: 50%; }
  .big-container .product .payment {
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 27px -3px rgba(0, 0, 0, 0.87);
    box-shadow: 0px 0px 27px -3px rgba(0, 0, 0, 0.87); }
    .big-container .product .payment .pay-title {
      font-size: 20px;
      color: #b3b3b3; }
    .big-container .product .payment .pay-label {
      font-size: 14px;
      font-weight: 300; }
    .big-container .product .payment .pay-input {
      margin: 10px;
      padding: 10px 0px;
      border: none;
      border-bottom: 1px solid grey; }
      .big-container .product .payment .pay-input::placeholder {
        color: #a5a5a5; }
    .big-container .product .payment .card-icons {
      display: flex; }
      .big-container .product .payment .card-icons .card-icon {
        width: 40px;
        margin-right: 10px; }
    .big-container .product .payment .card-info {
      display: flex;
      justify-content: space-between; }
      .big-container .product .payment .card-info .small {
        width: 30%; }
    .big-container .product .payment .pay-button {
      position: absolute;
      height: 40px;
      bottom: -40px;
      width: 100%;
      left: 0;
      -webkit-box-shadow: 0px 0px 27px -3px rgba(0, 0, 0, 0.87);
      background-color: #369e62;
      color: white;
      border: none;
      cursor: pointer; }
    .big-container .product .payment .close {
      width: 20px;
      height: 20px;
      position: absolute;
      background-color: gray;
      color: white;
      top: 10px;
      right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
  .big-container .product .product-details {
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px; }
    .big-container .product .product-details .product-title {
      font-size: 75px;
      font-weight: 900; }
    .big-container .product .product-details .product-price {
      font-size: 75px;
      font-weight: 900; }
    .big-container .product .product-details .product-description {
      font-style: 24px;
      color: grey; }
    .big-container .product .product-details .colors {
      margin-bottom: 20px;
      display: flex; }
      .big-container .product .product-details .colors .color {
        width: 32px;
        height: 32px;
        border-radius: 5px;
        background-color: black;
        margin-right: 10px;
        cursor: pointer; }
        .big-container .product .product-details .colors .color:nth-child(2) {
          background-color: darkblue; }
    .big-container .product .product-details .sizes {
      display: flex;
      margin-bottom: 20px; }
      .big-container .product .product-details .sizes .size {
        padding: 5px 20px;
        border: 1px solid black;
        margin-right: 10px;
        cursor: pointer;
        font-size: 20px; }
    .big-container .product .product-details .product-button {
      float: right;
      padding: 10px 20px;
      border-color: black;
      font-weight: 600;
      cursor: pointer; }
      .big-container .product .product-details .product-button:hover {
        background-color: white;
        color: black; }

/*# sourceMappingURL=style.css.map */
